<ul>
  <% @entries.each_with_index do |entry,i| %>
    <li>
      <% if !!entry == entry %>
        <% jotDate = Date.today - i %>
        <%= link_to jotDate.strftime("%a, %m.%d.%y"), "/entries/new/#{jotDate.strftime('%y')}/#{jotDate.month}/#{jotDate.day}" %>
      <% else %>
        <%= link_to "#{entry.first.title} - #{entry.first.created_at.strftime('%a, %m.%d.%y')}", entry.first %>
      <% end %>
    </li>
  <% end %>
</ul>