<% @entries.each do |entry| %>
  <div>
    <h1><%= entry.title %></h1>
    <h2><%= entry.created_at.strftime("%A, %B %e, %Y") %></h2>
    <p><%= entry.body %></p>
  </div>
<% end %>

<hr>

<h1>Events</h1>
<% @events.each do |event| %>
  <%= link_to event.name, event %>
<% end %>