<% @entries.each do |entry| %>
  <%= render "entry", :entry => entry %>
<% end %>

<hr>

<h1>Events</h1>
<% @events.each do |event| %>
  <%= link_to event.name, event %>
<% end %>

<hr>
<%= link_to 'Back', entries_path %>