<h1><%= @event.name %></h1>

<% @entries.each do |entry| %>
  <div>
    <h1><%= entry.title %></h1>
    <h2><%= entry.created_at.strftime("%A, %B %e, %Y") %></h2>
    <p><%= entry.body %></p>
  </div>
<% end %>